<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.istic.dao.DownloadMapper">
  <resultMap id="BaseResultMap" type="com.istic.entity.Download">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
</mapper>