<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.istic.dao.SysPositionMapper">
  <resultMap id="BaseResultMap" type="com.istic.entity.SysPosition">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="isprincipal" jdbcType="INTEGER" property="isprincipal" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
</mapper>