<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.istic.dao.GoOutApplyMapper">
  <resultMap id="BaseResultMap" type="com.istic.entity.GoOutApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apply_usercode" jdbcType="VARCHAR" property="applyUsercode" />
    <result column="apply_username" jdbcType="VARCHAR" property="applyUsername" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="approver_usercode" jdbcType="VARCHAR" property="approverUsercode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="approver_username" jdbcType="VARCHAR" property="approverUsername" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
</mapper>